:root {
  --accentColor: #117A65;
  --text2Color: #757575;
  --bigFontSize: 32px;
  --maxWidthChatRoom:640px;
  --myMsgColor: #757575;
  --bg2Color: #2c3037;
  --bgColor: #3c424c;
}
*{
    user-select: none;
}
body{
    margin: 0;
    background-color:  var(--bgColor);
}
h1, h2, p, td, .chatLink, button, .btn, div{
    font-family: sans-serif;
    color: white;
}
.prettyName{
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
}
.accountState{
    color: var(--text2Color);
    font-style: italic;
}
td{
    padding: 32px;
}
tr:hover{
    background-color: var(--accentColor);
}
.online, button, .btn{
    font-weight: bold;
    text-transform: uppercase;
}
table, th, td {
    border-bottom: 1px solid #757575;
    border-collapse: collapse;
}
#convsList{
    display: inline-block;
}
button, .btn{
    background-color: black;
    border: none;
    padding: 16px;
    border-radius: 9999px;
    text-transform: uppercase;
    margin: 16px;
}
button:focus, button:active, .btn:focus, .btn:active{
    outline: none;
}
button:hover, .btn:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}
.btn{
    font-size: 14px;
}
/*Chat  room*/
#chatRoom{
    display: block;
    margin-bottom: 16px;
    overflow-y: auto;
}

#chatRoom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#chatRoom::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#chatRoom::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
#chatRoomContainer{
    min-width: 640px;
    max-width: var(--maxWidthChatRoom);
    height: 100%;
    position: relative;
    background-color: var(--bg2Color);
}
#inputZone{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 32px;
    left: 16px;
}

/* Overlay */
.bigHeadline {
    font-weight: bold;
}
#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,0,0,0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.overlayWrapper{
    display: inline-block;
}

/*Messages div*/
.msgMe, .msgOther{
    font-size: 18px;
    border-radius: 16px;
    display: inline-block;
    padding: 16px;
}
.msgContainerMe, .msgContainerOther{
    margin: 32px;
}
/* My messages */
.msgContainerMe{
    display: block;
    text-align: right;
}
.msgMe{
    background-color: var(--myMsgColor);
}
/* The other person's messages*/
.msgContainerOther{
    display: block;
    text-align: left;
}
.msgOther{
    background-color: var(--accentColor);
}

/*new conv*/
.inputTxt{
    font-size: 16px;
    line-height: 3;
    display: block;
    padding: 8px;
    margin-top: 8px;
}
.centerDiv{
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--text2Color);
    display: inline-block;
    margin: auto;
}
.centerMaster{
    margin-top: 64px;
    display: flex;
    align-items: center;
}

.infos{
    font-size: 12px;
    margin-left: 8px;
    color: lightgray;
    display: inline;
}
.author{
    font-size: 16px;
    display: inline;
    color: #262a2f;
    font-weight: bold;
    margin-right: 8px;
}
.topBar{
    font-size: var(--bigFontSize);
    padding: 8px;
    padding-left: 32px;
    background-color: #262a2f;
    display:block;
}
a{
    color: var(--accentColor);
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: underline;
}
.topBarBtn{
    display: inline;
}
#topBarHeader{
    display: inline;
}
textarea{
    color: white;
    background-color: var(--myMsgColor);
    font-size: 16px;
    max-height: 200px;
    border: none;
    padding: 16px;
}
textarea:hover, textarea:active, textarea:focus{
     outline: 4px solid var(--accentColor);
}
#sendMsgBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.option{
    background-color: #262a2f;
    padding: 16px;
    color: white;
    font-size: 24px;
    margin-bottom: 24px;
    display: inline-block;
    min-width: 460px;
    position: relative;
}
.option img{
    position: absolute;
    right: 0;
    bottom: 16px;
}
.option:hover{
    cursor: pointer;
}
#formNCo, #formAAC, #formACL, #formNCA{
    display: none;
}

.convLink{
    color:white;
    margin: 16px;
    display: block;
}
#sideBar{
    height: 100%;
    background-color: #262a2f;
    display: inline-block;
    overflow-x: hidden;
}
#sideBar, #homePanel, #managePanel{
    margin-right: 32px;
}
#panelContainer{
    display: flex;
    align-items: flex-start;
    /* Pour conv*/
    height: 100vh;
}

#unreadMessages{
    background-color: #262a2f;
    padding: 16px;
    min-height: 320px;
}
#unreadMessagesPlaceHolder{
    color: darkgray;
    margin-top: 64px;
}
.unreadMsg{
    display: block;
    margin-top: 24px;
}
#managePanel{
    /*background-color: white;*/
}
#convsHeader{
    margin-left: 16px;
}

form{
    margin-left: 16px;
}
